.main-container .about{
	height: 100%;
	width: 100%;
	padding: 2rem 1rem 4rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	position: relative;
	box-shadow: 1px 1px 10px #000;
	background: #80808017;
}
.main-container .about h1{
	font-size: 6rem;
	opacity: .7;
		font-weight: 800;
		padding-bottom: 1.5rem;
}
.main-container .about p a{
	color: gray;
}
.main-container .about p{
	color: gray;
	font-size: 1.6rem;
	max-width: 850px;
}
.main-container .about #underline{
	padding: 1rem 0;
	font-weight: 200;
}

.main-container .about h2{
	font-size: 3rem;
	font-weight: bold;
	opacity: .7;
	margin-top: 3rem;
	text-align: center;
}
.main-container .about span{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.main-container .about span abbr i{
	font-size: 4rem;
		cursor: default;
}

/* colors */
.main-container .about span abbr:nth-child(1){
	color: #d84924;
}
.main-container .about span abbr:nth-child(2){
	color: #2760e5;
}
.main-container .about span abbr:nth-child(3){
	color: #ead41c;
}
.main-container .about span abbr:nth-child(4){
	color: #6c10e9;
}




@media screen and (max-width: 678px){
	.main-container .about h1{
		font-size: 2.5rem;

	}
}