.main-container .about{
	height: 100%;
	width: 100%;
	padding: 14rem 1rem 4rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	position: relative;
	box-shadow: 1px 1px 10px #000;
	background: #80808017;
	position: relative;
}

/* me overlay style */
.main-container .about .jonrie{
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 100%;
	width: 100%;
	max-width: 20rem;
	max-height: 20rem;
	opacity: 0;
	transition: 1s linear;
}
.main-container .about .jonrie.show{
	opacity: 1;
}

.main-container .about h1{
	font-size: 6rem;
	opacity: .7;
		font-weight: 800;
		padding-bottom: 1.5rem;
}
.main-container .about p a{
	color: gray;
}
.main-container .about p{
	color: gray;
	font-size: 1.6rem;
	max-width: 850px;
}
.main-container .about #underline{
	padding: 1rem 0;
	font-weight: 200;
}

.main-container .about h2{
	font-size: 3rem;
	font-weight: bold;
	opacity: .7;
	margin-top: 3rem;
	text-align: center;
}
.main-container .about span{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.main-container .about span abbr i{
	font-size: 4rem;
		cursor: default;
}

/* colors */
.main-container .about span abbr:nth-child(1){
	color: #d84924;
}
.main-container .about span abbr:nth-child(2){
	color: #2760e5;
}
.main-container .about span abbr:nth-child(3){
	color: #ead41c;
}
.main-container .about span abbr:nth-child(4){
	color: #6c10e9;
}
.main-container .about span abbr:nth-child(5){
	color: #d84924;
}
.main-container .about .circle3{
	position: absolute;
	    top: 100%;
    left: 75%;
	transform: translate(-50%,-50%);
	height: 100%;
	width: 100%;
	max-height: 5rem;
	max-width: 5rem;
	z-index: -9999;
	border-radius: 50%;
	opacity: .3;
		animation: allCircleAnimation 2s ease-in-out infinite alternate;
}




@media screen and (max-width: 678px){
	.main-container .about h1{
		font-size: 2.5rem;

	}
	.main-container .about p{
		font-size: 1.1rem;
	}
}