.main-container .about{
	height: 100%;
	width: 100%;
	padding: 1rem .4rem 2rem .4rem;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	position: relative;
	box-shadow: 1px 1px 10px #000;
	background: #80808017;
	position: relative;
		overflow: hidden;
}

.main-container .about >h1{
	font-size: 6rem;
	opacity: .7;
		font-weight: 800;
		padding-bottom: 1.5rem;

}
.main-container .about p a{
	color: gray;
}
.main-container .about p{
	color: gray;
	font-size: 1.6rem;
	max-width: 1300px;
}
.main-container .about #underline{
	padding: 1rem 0;
	font-weight: 200;
}





/* about row */
.main-container .about .aboutRow{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 3rem;
	position: relative;
	border-top: 3px solid #d1d1d1;
}




.main-container .about h2{
	font-size: 3rem;
	font-weight: bold;
	opacity: .7;
	text-align: center;
}


.main-container .about span{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.main-container .about span abbr i{
	font-size: 9rem;
		cursor: default;
}
.main-container .about span abbr i:hover{
	animation: shake .5s ease-in-out alternate;
}
@keyframes shake{
	0%{transform: rotate(10deg);}
	90%{transform: rotate(-10deg);}
	100%{transform: rotate(0deg);}
}

/* colors */
.main-container .about span abbr:nth-child(1){
	color: #d84924;
}
.main-container .about span abbr:nth-child(2){
	color: #2760e5;
}
.main-container .about span abbr:nth-child(3){
	color: #ead41c;
}
.main-container .about span abbr:nth-child(4){
	color: #6c10e9;
}
.main-container .about span abbr:nth-child(5){
	color: #d84924;
}
.main-container .about span abbr:nth-child(6){
	color: silver;
}
.main-container .about .circle3{
	position: absolute;
	    top: 100%;
    left: 75%;
	transform: translate(-50%,-50%);
	height: 100%;
	width: 100%;
	max-height: 3rem;
	max-width: 3rem;
	z-index: -9999;
	border-radius: 50%;
	opacity: .3;
		animation: allCircleAnimation 2s ease-in-out infinite alternate;
}


/* inside */
.main-container .about .aboutInside1{
	position: absolute;
	    top: 36%;
    left: 12%;
	transform: translate(-50%,-50%);
	z-index: 5;
	border-radius: 50%;
	opacity: .3;
	height: 100%;
	width: 100%;
	max-height: 5rem;
	max-width: 5rem;
	transition: 1s linear;
}
.main-container .about .aboutInside1:hover,
.main-container .about .aboutInside2:hover{
	max-height: 2rem;
	max-width: 2rem;
}






/* certifications */
.main-container .about .certificate-con{
	height: 100%;
	width: 100%;
	position: relative;
}
.main-container .about .certificate-con h1{
	font-size: 3rem;
	opacity: .7;
	text-align: center;
	font-weight: bold;
}
.main-container .about .certificate-con #carouselExampleDark{
	max-width: 30rem;
	margin: 0 auto;
}
.main-container .about .certificate-con #carouselExampleDark .carousel-inner img{
	width: 100%;
	height: 100%;
	max-width: 30rem;
	max-height: 30rem;
	min-height: 25rem;
	margin: 0 auto;
	transition: .6s ease;
	cursor: pointer;
}




@media screen and (max-width: 1100px){
			.main-container .about .aboutRow{
		display: flex;
		flex-direction: column;
		gap: 3rem;

	}
}





@media screen and (max-width: 1000px){

	/* layout */
		.main-container .about .aboutRow{
		flex-direction: column;
	}


	/* i size */
		.main-container .about span abbr i{
		font-size: 4rem;
	}

	/* mt reduce*/
		.main-container .about .certificate-con{
		margin-top: 1.5rem;
	}


	/* img size */
		.main-container .about .certificate-con #carouselExampleDark .carousel-inner img{	
			min-height: 20rem;
	}
}




@media screen and (max-width: 678px){
	.main-container .about >h1{
		font-size: 2.5rem;

	}
	.main-container .about p{
		font-size: 1.1rem;
	}

	.main-container .about h2{
		font-size: 2.5rem;
	}


	/* remove */
	.main-container .about .aboutInside2{
		display: none;
	}



	/* certifications h1 */
	.main-container .about .certificate-con h1{
		font-size: 2.5rem;
	}
}