.main-container .about{
	height: 100%;
	width: 100%;
	padding: 0rem 2rem 0rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	position: relative;
	box-shadow: 1px 1px 10px #000;
	background: #80808017;
}
.main-container .about h1{
	font-size: 6rem;
	opacity: .7;
		font-weight: 800;
		padding-bottom: 1.5rem;
}
.main-container .about p a{
	color: gray;
}
.main-container .about p{
	color: gray;
	font-size: 1.6rem;
}
.main-container .about h2{
	padding-top: 2rem;
	font-style: italic;
}
.main-container .about #underline{
	padding: 1rem 0;
	font-weight: 200;
}

@media screen and (min-width: 1161px){
	.main-container .about{
	padding: 8rem 15rem 4rem 15rem;
	}
}
@media screen and (max-width: 678px){
	.main-container .about h1{
		font-size: 3rem;

	}
}