.main-container .projects{
	padding: 3rem .4rem;
	height: 100%;
	width: 100%;
	transition: 2s linear;
	overflow: hidden;
	min-height: 1000px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.main-container .projects >h1{
	opacity: .7;
	font-size: 6rem;
	font-weight: 800;
	text-align: center;
	margin: 1.5rem 0;
	word-break: break-word;
	align-self: flex-start;
}


/* sub button for indicator */
.main-container .projects .carouselSubButton{
	height: 9rem;
	width: 100%;
	background: #d1d1d1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	padding: .2rem;
}
.main-container .projects .carouselSubButton h3{
	cursor: pointer;
	transition: .3s;
	font-size: 1.3rem;
}
.main-container .projects .carouselSubButton h3:hover{
	color: tomato;
}
 /* active h3 */
 .main-container .projects .carouselSubButton .sub.active{
 	color: tomato;
 }



/* hide indicator button */
.main-container .projects #carouselExampleIndicators .carousel-indicators{
	z-index: -999999;
	opacity: 0;
}




/* all empty project */
.main-container .projects #carouselExampleIndicators .carousel-inner:nth-child(3),
.main-container .projects #carouselExampleIndicators .carousel-inner:nth-child(4){
	display: flex;
	justify-content: center;
	align-items: center;
}



/* projectStatic */
.main-container .projects #carouselExampleIndicators .projectStatic{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	gap: 1rem;
	max-width: 2000px;
	margin-top: 2rem;
}

.main-container .projects #carouselExampleIndicators .carousel-inner .projectStatic div{
	background: #d1d1d1;
	overflow: hidden;
	padding: .1rem;
	border-radius: 1rem;
}

.main-container .projects #carouselExampleIndicators .carousel-inner .projectStatic div abbr a img{
	height: 100%;
	width: 100%;
	max-width: 450px;
	max-height: 400px;
	transition: 2s linear;
}


.main-container .projects #carouselExampleIndicators .carousel-inner .projectStatic div abbr a img:hover{
	transform: scale(1.2);
}




/* projectDynamic */
.main-container .projects #carouselExampleIndicators .projectDynamic{
	width: 100vw;
	display: grid;
	place-items: center;
	padding-top: 3rem;
	position: relative;
}



.main-container .projects #carouselExampleIndicators .projectDynamic >h1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #d1d1d1c1;
	display: none;
	padding: 2rem 1rem;
	border-radius: 1rem;
}

.main-container .projects #carouselExampleIndicators .projectDynamic .pos{
	height: 600px;
	width: 98.5%;
	max-width: 1200px;
}
.main-container .projects #carouselExampleIndicators .projectDynamic:hover .workIn {
	display: block;
}





 

/* -----------------------------Media Query--------------------------------- */
@media screen and (max-width: 930px){
	.main-container .projects #carouselExampleIndicators .carousel-inner .projectStatic div abbr a img{
		/* new images sizes */
	max-width: 700px;
	max-height: 450px;
}
}



@media screen and (max-width: 678px){
	.main-container .projects >h1{
			font-size: 2.5rem;
		}
}

@media screen and (max-width: 500px){


	/* height of carousel new indicator */
	.main-container .projects .carouselSubButton{
	height: 12rem;
}

}





