.main-container .certificate-con{
	height: 100%;
	width: 100%;
	padding: 9rem 1rem 2rem 1rem;
	background: #80808017;
	box-shadow: 1px 1px 10px #000;
	position: relative;
}
.main-container .certificate-con h1{
	font-size: 7rem;
	opacity: .7;
	position: absolute;
	top: 0;
	left: 3.5%;
}
.main-container .certificate-con #carouselExampleDark{
	max-width: 56rem;
	margin: 0 auto;
	box-shadow: 1px 1px 10px #000;
}
.main-container .certificate-con #carouselExampleDark .carousel-inner img{
	width: 100%;
	height: 100%;
	max-width: 55rem;
	max-height: 34rem;
	margin: 0 auto;
	transition: .6s ease;
}


@media screen and (max-width: 650px){
	.main-container .certificate-con h1{
		font-size: 5rem;
	}
	.main-container .certificate-con h1{
		font-size: 5rem;
		opacity: .7;
		position: absolute;
		top: 3%;
		left: 3.5%;
	}

}

@media screen and (max-width: 460px){
	.main-container .certificate-con h1{
		font-size: 4rem;
	}
}

@media screen and (max-width: 360px){
	.main-container .certificate-con h1{
		font-size: 3rem;
		top: 10%;
	}
}
