.main-container .certificates{
	height: 100%;
	width: 100%;
	background: #80808017;
	padding: 1rem .4rem;
	min-height: 800px;
}
.main-container .certificates h1{
	font-size: 6rem;
	opacity: .7;
	text-align: center;
	margin: 1.5rem 0;
	font-weight: 800;
}

/* a */
.main-container .certificates span{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	row-gap: 3rem;
	place-items: center;
	max-width: 1400px;
	margin: 0 auto;
}
.main-container .certificates span abbr{
	text-align: center;
}
.main-container .certificates span abbr a{
	padding: 1rem .5rem;
	font-size: 1.2rem;
	font-weight: 600;
	word-break: break-word;
	text-align: center;
}

@media all and (max-width: 950px){
		.main-container .certificates span{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(9, 1fr);
	}
}
@media all and (max-width: 678px){
		.main-container .certificates h1{
		font-size: 3rem;
	}
		.main-container .certificates span a{
		font-size: 1rem;
}	