.main-container .certificate-con{
	height: 100%;
	width: 100%;
	padding: 1rem .4rem;
	background: #80808017;
	box-shadow: 1px 1px 10px #000;
	position: relative;
}
.main-container .certificate-con h1{
	font-size: 6rem;
	opacity: .7;
	text-align: center;
	font-weight: 800;
}
.main-container .certificate-con #carouselExampleDark{
	max-width: 56rem;
	margin: 0 auto;
	box-shadow: 1px 1px 10px #000;
}
.main-container .certificate-con #carouselExampleDark .carousel-inner img{
	width: 100%;
	height: 100%;
	max-width: 55rem;
	max-height: 34rem;
	margin: 0 auto;
	transition: .6s ease;
}
.main-container .certificate-con .circle5{
	position: absolute;
	    top: 100%;
    left: 75%;
	transform: translate(-50%,-50%);
	height: 100%;
	width: 100%;
	max-height: 5rem;
	max-width: 5rem;
	z-index: -9999;
	border-radius: 50%;
	opacity: .3;
}

@media screen and (max-width: 678px){
	.main-container .certificate-con h1{
		font-size: 2.5rem;
	}
}

