.main-container .contactMain{
	height: 100%;
	width: 100%;
	position: fixed;
	top: -150%;
	left: 0;
	right: 0;
	background: rgb(0, 0, 0,.7);
	z-index: 100;
	transition: .5s;
}
.main-container .contactMain .contact{
	max-width: 500px;
	margin: 0 auto;
}
.main-container .contact h1{
	font-weight: 800 !important;
	font-size: 3rem !important;
	color: #fff;
}
.main-container .contactMain .contact div label{
	color: #fff;
}
.main-container .contact .credits{
	text-align: center;
	margin-top: 2rem;
	color: #fff;
}

/* media */
@media all and (max-width: 678px){
		.main-container .contact h1{
		font-size: 2.5rem !important;
	}
}