.main-container .footer{
	padding: 3rem 1rem;
	margin-top: 1rem;
	text-align: center;
	height: 100%;
	width: 100%;
	background: #80808017;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 1.5rem;
	align-items: center;
	border-top: 1px solid silver;
}
.main-container .footer .footer-icon i{
	font-size: 1.5rem;
	padding-right: 1rem;
	color: #d1d1d1;
	transition: all .3s ease;
	cursor: pointer;
}
.main-container .footer .footer-icon i:hover{
	color: gray;
}