.main footer{
    height: 5rem;
    width: 100%;
    padding: 2rem .3rem;
    background: #393E46;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main footer #c{
    color: #eeeeee;
    font-size: 20px;
    font-family: var(--sans);
    word-wrap: break-word;
}